*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: url("wallpaperflare.com_wallpaper\ \(5\).jpg")
    no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 380px;
    background: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    text-align: left;
}

.social{
    text-align: center;
    margin-bottom: 25px;
    
}

.social img{
    width: 40px;
    margin: 0 10px;
    border-radius: 25px;
    cursor: pointer;
}


form input[type="text"],
form input[type="password"]{
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #bbb;
    margin-bottom: 18px;
    outline: none;
}

.remember{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.remember label{
    margin-left: 8px;
    font-size: 14px;
    color: #555;
}

.btn{
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #fc3d03, #ffd038fa);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}